@font-face {
    font-family: mynewfont;
    src: url("BBHSansBogle-Regular.ttf");
}
@font-face {
    font-family: roboto;
    src: url("Roboto-Regular.ttf");
}

.headerbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(150, 60, 60);
    margin-top: 10px;
    padding-top: 30px;
    color: white;
    font-size: 100px;
    padding-bottom: 0px;
    font-family: mynewfont;
    padding-left: 20px;
}



.heading{
    font-family: mynewfont;
    font-weight: 10;
    font-size: 100;
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 0;
}

.hyperlink{
    color: white;
    text-decoration: none;
}
.hyperlink:hover{
    color: rgb(198, 102, 102);
    text-decoration: none;
}

/* container that contains all 3 cards */
.container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* center card */
.leftpanel_big {
    padding: 20px;
    flex: 3;    
    background-color: rgba(217, 217, 217, 1);
}

/* heading of center card */
.leftpanel_big h1{
    color: black;
    margin-top: 0; 
    margin-bottom: 0;
    font-family: mynewfont;
    font-weight: 100;
    font-size: 300%;
}

/* paragraph of center card */
.leftpanel_big p{
    color: black;
    margin-top: 5px;
    font-family: roboto;
    font-weight: 100;
    font-size: 20;
}


/* image of the center card */
.leftpanel_big img{
    object-fit: cover;
    width: 100%;
    height: 300px;
    
    border-radius: 10px;
}

/* an indivdual card (both sides) */
.card{
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3%;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.3);
}

/* i have no idea why this exists (i forgot) */
.centercard{
    margin-bottom: 30px;
}



/* left most coulumn intercard */
.statistics{
  overflow: scroll;
  scrollbar-color: rgb(167, 163, 159) #b9b9b9;
  scrollbar-width: thin;
  background-color: #b9b9b9; height: 400px; overflow: hidden; overflow-y: scroll;
  height: 100% + 40%;
}

.leftpanel_small {
    padding: 20px;
    flex: 1;    
    background-color: rgba(217, 217, 217, 1) ;
}

.leftpanel_small h1{
    color: black;
    margin-top: 0; 
    margin-bottom: 0;
    font-family: mynewfont;
    font-weight: 100;
}

.leftpanel_small p{
    color: black;
    margin-top: 5px;
    font-family: roboto;
    font-weight: 100;
    font-size: 15;
}

.leftpanel_small img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.leftpanel{
    background-color: #ffd7a6;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    margin-top: 6px;
    padding-bottom: 30%;
}

.leftpanel h1{
    font-family: mynewfont;
    font-weight: 100;
    font-size: xxx-large;
    margin-bottom: 0;
}

.leftpanel button{
    font-size: x-large;
    margin: 0 auto;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #9f5e2c;
    color: white;
    font-family: roboto;

    margin-top: 20px;
}

.leftpanel button:hover{
    font-size: x-large;
    margin: 0 auto;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #9f5e2ca1;
    color: white;
    font-family: roboto;

    margin-top: 19px;
}

.leftpanel button:active{
    font-size: x-large;
    margin: 0 auto;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #681c1ca8;
    color: white;
    font-family: roboto;

    margin-top: 21px;
}



.headingbox{
    border-radius: 50;
    resize: none;
    width: 50%;
    height: 6.6%;
    border: 0;
    font-family: mynewfont;
    font-size: 40px;
    padding-left: 10px;
    overflow: none;
    border-radius: 10px;
    padding: 10px;

        overflow: hidden;
}


.linkbox{
    border-radius: 50;
    resize: none;
    width: 90%;
    height: 7%;
    border: 0;
    border-radius: 10px;
    font-family: roboto;
    font-size: 20px;
    padding-left: 10px;
    padding: 10px;

    
}

.contentbox{
    border-radius: 50;
    resize: none;
    width: 90%;
    height: 30%;
    border: 0;
    border-radius: 10px;
    font-family: roboto;
    font-size: 20px;
    padding-left: 10px;
    padding: 10px;

    
}

.datebox{
    border: 0;
    font-family: mynewfont;
    font-weight: 10px;
    font-size: 200%;
    border-radius: 10px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
}


.activities {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background: url(assets/addbutton.svg) no-repeat center;
  background-size: contain;
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

/* Rotate the button when pressed */
.activities:hover {
    transform: rotate(180deg); 
}
